.comment_template {
  display: flex;

  width: 60%;
}

.container {
  display: flex;
  flex-flow: column;

  list-style: none;

  width: 60vw;

  margin: 0px;
  padding: 0px;
  padding-top: 1vh;

  border-bottom: 1px solid black;

  /* overflow: scroll; */
}

.comment {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;

}

.username {
  display: flex;
  border-top: 1px solid black;
}

.text {
  padding: 1vh 0 1vh 0;
  /* border-bottom: 1px solid black; */
}

.date {
  display: flex;
  justify-content: flex-end;
}

.extra-branch {
  display: flex;
  width: 55vw;
  padding-left: 4vw;;
  /* width: 40vw; */

  /* background-color: red; */
}

.button {

  min-height: 2.5vh;
  
  background-color: rgb(100, 50, 300);

  border-radius: 5px;
  border: 1px solid #282c34;

  margin-top: 1vh;
}

.button:hover {
  background-color: rgb(60, 255, 200);
}