:root {
  --main-border-color: rgb(60, 60, 60);
  --main-container-color: rgb(24, 24, 28);
  /* --dark-border-color: #2d3236; */
}

.news {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;

  width: 50vw;

  border: 1px solid var(--main-border-color);
  border-radius: 5px;

  margin-bottom: 1vh;
}

.news_container__date-score {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  background-color: rgb(18, 18, 22);

  border-top: 1px solid var(--main-border-color);
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  padding: 0 1vw 0 1vw;
}

.score_container {
  display: flex;
  flex-direction: row-reverse;
}

.score {
  padding-left: 2vw;
}

.nickname {
  display: flex;
  justify-content: flex-start;

  background-color: var(--main-container-color);
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  padding-left: 1vw;
  padding-bottom: 1vh;
}

.title {
  display: flex;
  background-color: var(--main-container-color);
}

.link {
  padding: 0 1vw 1vh 1vw;

  color: rgb(100, 50, 300);
}

.link:visited {
  color: grey;
}

._white {
  color: black;
  background-color: white;
}

._whiteDate {
  background-color: rgb(251, 251, 251);
  background-color: whitesmoke;
}