.news_container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    /* width: 100vw; */

    margin: 0vh;
    padding: 0;
    /* padding-top: 5vh; */

    list-style: none;
}



.news_container::-webkit-scrollbar {
    display: none;
}

.news {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;

    width: 50vw;

    border: 1px solid #282c34;
    border-radius: 5px;

    margin-bottom: 1vh;

}

.news:first-child {
    margin-top: 1vh;
}

.news_container__date-score {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
    border-top: 1px solid #282c34;

    padding: 0 3vw 0 1vw;
}

.nickname {
    display: flex;
    justify-content: flex-start;

    padding-left: 1vw;
    padding-bottom: 1vh;
}

.title {
    display: flex;

    padding: 0 1vw 1vh 2vw;
}