.button {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;

    min-height: 2.5vh;
  
    /* background-color: rgb(100, 50, 300); */
    background-color: rgba(0, 0, 0, 0);
  
    border-radius: 5px;
    /* border: 1px solid #282c34; */
    border: 1px solid rgb(100, 50, 300);
  
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 0;

    color: white;
    overflow: hidden;

}

.button:hover {
    background-color: rgb(100, 50, 300);
    /* border: 1px solid rgb(60, 255, 200); */
  }

  ._white {
    color:black;
    border: 1px solid black;
    overflow: hidden;
  }

  .isActive {
    border: 1px solid rgb(100, 50, 300);


    /* background-color: rgb(100, 50, 300); */
  }

  /* .isActive::before {
    position: sticky;
    content: 'before';

    width: 100%;

    transform: translateX(-60vw);

    justify-self: flex-start;
  } */
